name: Hello

on:
  pull_request_target:

jobs:
  greet-contributor:
    permissions:
        pull-requests: write
    
    runs-on: ubuntu-latest

    steps:
        - name: Comment PR
          uses: thollander/actions-comment-pull-request@v2
          with:
            message: Hello!
